{% extends 'base.html' %}
{% load static %}

        {% block title %}
        <title>my cart</title>
        {% endblock %}

       
        {% block content %}
        <div class="row">
            <div class="col-md-8">
                <h3>Items in my cart</h3><hr>
                <table>
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Product</th>
                            <th>Rate</th>
                            <th>Quantity</th>
                            <th>Subtotal</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <bpdy>

                    </bpdy>
                </table>
            </div>
        </div>
           
            
            
        
      
       
        {% endblock content %}
