{% extends 'base.html' %}
{% load static %}



{% block content %}
    {% block title %}

    {% endblock title %}
        <div class="ui grid">
            <div class="row">
                <div class="sixthin wide column">
                    <div class="ui fluid card">
                        <center><strong>
                            <h1>Applications</h1>
                        </strong></center>
                        <h1>STILL TO COME</h1>
                        <div
  class="bg-image"
  style="
    background-image: url('static/image/04-RFID-Smart-Farming-Agriculture-980x653.jpeg');
    height: 100vh;
  "
></div>
        
                    </div>
                </div>
            </div>
        </div>
        
{% endblock content %}