{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <nav>
      <div class=" row" style="background-color: #1c1c86;">
        <div class="logo">
          <img src= "{% static 'image/Logo001.jpg' %}" style="width:150px;height: 70px">
          
        </div>
        <span style="position:absolute;left:45%">
          <button class="button-73" role="button">
            <a href="{% url 'home-view' %}">Home</a>
          </button>
          
          <ul class="main-nav">
            <li class="active"><a href="{% url 'our_store:store' %}">OUR STORE</a></li>  
            <li><a href="{% url 'industries-view' %}" >INDUSTRIES</a></li>
            <li><a href="{% url 'get_in_touch-view' %} ">GET IN TOUCH</a></li>   
            <li><a href="{% url 'who_we_are-view' %}" >WHO WE ARE</a></li>
            <li>
              <a href="#"><i class="fa fa-search"></i></a>
            </li>
          </ul>
        </span>
      </div>
    </nav> 

</body>