{% extends "base.html" %}

{% block title %}<title>store</title>{% endblock %}
<body>
    <br/><br/><br/><br/><br/><br/><br/>
{% block content %}
<br/>
<div class="ui grid">
    <div class="ui container" >
        <div class="row">
            <div class="four wide column">
                <div class="ui fluid-card" >
                    <div class="ui-grid-cell-contents" >
                       <h1>WHAT WE DO</h1>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui fluid-card" >
                    <div class="ui-grid-cell-contents" >
                        VV
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
</body>