{% extends 'base.html' %}
{% load static %}
<html>
    
    <header>
        {% block title %}
        <title>store</title>
        {% endblock %}

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    </header>
    <body>
        {% block content %}
   
        <br>
        <nav class="navbar navbar-expand-lg navbar-navy"  style="background-color: navy;">
            <a class="navbar-brand" href="">Focu on IoT</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'store-view' %}">Store <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <div class="form-inline my-2 my-lg-0">
                    <a href="{% url 'cart-view' %}">
                        <img  id="cart-icon" src="{% static 'image/cart.png' %}">
                      </a>
                      <p id="cart-total">{{cartItems}}</p>
                    <a href="" class="item">
                        {{ request.user }}
                    </a>
                    <a href="" class="ui item">
                        Logout
                    </a>
                    <a href="{% url 'login-view' %}"class="btn btn-warning">Login</a>
                    <a href="{% url 'register-view' %}"class="btn btn-warning">Register</a>
                    <a href="{% url 'account-view' %}"class="btn btn-warning">Account</a>
                </div>
            </div>
        </nav>
        <div class="row">
        {% for product in products %}
            <div class="col-lg-4">
                <img class="thumbnail" src="{{product.image.url}}">
                <div class="box-element product">
                    <h6><strong>{{product.name}}</strong></h6>
                    <hr>
                    <button data-product="{{product.id}}" data-action="add" 
                    class="btn btn-outline-secondary add-btn update-cart">
                        Add to Cart</button>
                    <a class="btn btn-outline-success" href="#">View</a>
                    <h4 style="display: inline-block; float: right; "><strong>R{{product.price | floatformat}}</strong></h4>
                </div>
            </div>
            {% endfor %}
        </div>
      
       
        {% endblock content %}
        
    </body>
</html>


        

